body{
    background: url(/stuff/folder/img/R.jpg);
    background-size: cover;
    margin: 0px;
    
}
.nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: maroon;
    margin-top: 187px;
}

.nav1{
    color: rgb(105, 13, 13);
    font-size: 20px;
    font-weight: bold;
}

.nav2{
    color: rgb(105, 13, 13);
    font-size: 20px;
    font-weight: bold;
}
.nav3{
    color: rgb(105, 13, 13);
    font-size: 20px;
    font-weight: bold;
}


.index{
    color: maroon;
}
.main {
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
   
   
    
    
    
}
.img{
    display: block;
   
    
}

.text{
display: block;
margin-top: 4px;
text-decoration: wavy, maroon;
color: rgb(104, 6, 6);
font-weight: 20px;
font-style: italic;
font-size:40px;
}
h1{
    text-shadow: 3px 3px 1px rgb(215, 104, 60);
}
img {
    border-radius: 35px;
    box-shadow: 10px 10px 10px black;
}