body { 
    background-image: url(/stuff/folder/img/blue.jpg);
    background-size: cover;
margin:0px;
}

.name {
    background-color: rgb(56, 114, 169);
   display: flex;
    justify-content: center;
    font-family:cursive;
    font-style: italic;

}

.nav {
background-color: black;
display: flex;
flex-direction: row;
justify-content: space-evenly;
color:aqua;




}

.left{ color: aqua;

}

.center { color: aqua;

}

.right { color: aqua;

}

.bg {

}
.main {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    
    

}

.m-left {
    margin-top: 9px;
border-collapse: collapse;
border: 9px rgb(72, 227, 214);
border-style: groove;
border-radius: 9px;
}

.m-center {
text-align: center;
border-collapse: collapse;
border: 9px rgb(62, 197, 118);

}

.m-right{

}
::-webkit-scrollbar {
    background: rgb(119, 231, 194);
    width: 10px;
}

    

